a {
    text-decoration: none;
    color: inherit;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


li {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.container {
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {

    background: url("../images/bg.png");
    max-width: 1920px;
    height: 949px;

}

.container__header {
    margin-bottom: 152px;
}

.contact__header {
    max-width: 1800px;

}

.header__ihner {
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-top: 38px;
}

.logo__img {
    width: 280px;
    height: 38px;
    margin-right: 40px;
}

.selector {
    display: flex;
    align-items: center;

}

.catalog__text {

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;
}

.selector__arrow {
    margin-right: 17px;
}

.catalog__selector {
    margin-right: 124px;

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;


    border-radius: 200px;
    padding: 10px 20px;
    transition: .3s ease-in-out;
}

.catalog__selector:hover, .catalog__selector:active {
    background: #F4683F;
}

.contact__header {
    margin-right: 67px;
}

.contact__header-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;
    padding-right: 30px;
}

.header__phone {
    margin-right: 28px;
    text-align: center;
}

.phone__img {
    margin-right: 7px;
}

.phone {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;
}

.pop_up_header {
    display: flex;
    text-align: center;

}

.header__heart {
    margin-right: 20px;
}


.seacrh {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.search__img {
    margin-right: 8px;
}

.search__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;
}


.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 250px;

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .5); /* Black with a little bit see-through */
}


.close__btn {
    width: 34px;
    height: 34px;
    color: #FFFFFF;
    margin-left: 1400px;
    cursor: pointer;
}

.form__ihner {

    width: 1000px;
    text-align: center;

    margin: auto;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 56px 260px 48px 60px;
}

.seach__text-form {
    width: 680px;
    border: none;
    border-bottom: 1px solid #C0C2D7;
    margin-right: 20px;
    outline: none;
}

.search__btn {
    border: none;
    cursor: pointer;
    background: #F4683F;
    border-radius: 200px;
    padding: 12px 60px;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    color: #FFFFFF;

}


.seach__text-form::placeholder {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    color: #C0C2D7;

}


.header__title-container {

}

.section__title {
    max-width: 680px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 140%;
    /* or 78px */

    letter-spacing: 0.02em;

    color: #FFFFFF;

    margin-bottom: 38px;
}


.section__subtitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    /* or 33px */


    color: #FFFFFF;
    max-width: 447px;
    margin-bottom: 100px;
}


.slider__ihner {
    margin-bottom: 67px;
}

.header__slider {

    position: relative;
    max-width: 660px;
    height: 168px;


}

.swiper {
    max-width: 660px;
    height: 168px;
    margin: 0;


}


.swiper-slide {
    text-align: center;


}


.swiper-button-prev {
    font-weight: 600;
    left: -20px;
    right: auto;
    top: 57px;
}

.swiper-button-next {
    font-weight: 600;
    right: -20px;
    left: auto;
    top: 57px;

}


.swiper-button-next:after {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 600;

}


.swiper-button-prev:after {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 600;


}

.slide__text {
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    text-align: center;

    color: #FFFFFF;
}

.social__list {
    display: flex;
    align-items: center;
}

.social__img {
    margin-right: 20px;
}

.header__section-ihner {
    display: flex;
}

.contant__left {
    max-width: 660px;
    margin-right: 168px;
}


.contant__right {
}

.right__bacground {
    background: #FFFFFF;
    border-radius: 20px;
    max-width: 500px;

}


.arrive__text {
    display: flex;
    padding-top: 59px;
    padding-left: 60px;

    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    color: #444444;
}

.arive {
    margin-right: 87px;
    margin-bottom: 6px;
}

.arrive_input {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.inputs__arive {
    border: 1px solid #C0C2D7;
    border-radius: 200px;


}

.input__arive {
    border: none;
    outline: none;
    border-right: 1px solid #C0C2D7;
    width: 139px;
    height: 50px;
}

.input__arive::placeholder {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    color: #C0C2D7;

    padding: 12px 97px 14px 20px;
}

.input__departure {
    border: none;
    outline: none;
    width: 139px;
    height: 50px;
}

.input__departure::placeholder {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    color: #C0C2D7;

    padding: 12px 96px 14px 20px;
}


.count__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    color: #444444;
    margin-bottom: 6px;
    margin-left: 60px;
}

.count__input {
    margin-left: 40px;
    border: 1px solid #C0C2D7;
    border-radius: 200px;
    height: 50px;
    width: 280px;
    outline: none;
    margin-bottom: 48px;
}

.count__input::placeholder {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    color: #C0C2D7;
    padding: 19px 244px 13px 20px;

}

.double {
    width: 276px;
    margin-left: 60px;
    margin-bottom: 44px;
}


.search {
    margin-left: 40px;

    background: #F4683F;
    border-radius: 200px;

    padding: 10px 110px;


    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    color: #FFFFFF;


}

.form__header {
    height: 500px;
}

.search__button-link {
    margin-bottom: 50px;
}


.about {
    margin-top: 200px;
    margin-bottom: 200px;
}


.about__title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;

    /* identical to box height, or 60px */


    color: #333333;

    margin-bottom: 73px;
}


.about__items {
    display: flex;
}

.about__picture {
    margin-bottom: 20px;
}

.about__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */


    color: #333333;
}

.popular__ihner{
    margin-bottom: 200px;
}

.popular__title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;

    /* identical to box height, or 60px */


    color: #333333;
    margin-bottom: 80px;
}

.card__items{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card_item {
    max-width: 440px;
    height: 660px;
    box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
    border-radius: 20px;

    margin-right: 20px;
    margin-bottom: 40px;


}

.card__header {
    position: relative;
}

.img__card {

}

.people__title {
    position: absolute;
    display: flex;
    z-index: 20;

    top: 24px;
    left: 328px;
    background: #FFFFFF;
    border-radius: 150px;
    padding: 8px 13px;
}

.people__card {
    margin-right: 6px;
}

.favourite__icon-card{
    position: absolute;
    z-index: 20;

    left: 370px;
    top: 228px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 20px rgba(21, 22, 34, 0.2);
    border-radius: 200px;
    padding: 13px;
    cursor: pointer;
}


.card__title{
    padding-top: 30px;
    margin-left: 30px;
    margin-bottom: 16px;

    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;

    /* identical to box height, or 36px */


    color: #333333
}

.comfort__list{
    margin-left: 30px;
    margin-bottom: 30px;

}

.comfort__item{
    display: flex;
    margin-bottom: 12px;

}

.comfort__img{
    margin-right: 12px;
}

.comfort__text{
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    color: #727488;
}


.card__price{
    margin-left: 30px;
    margin-bottom: 40px;
    display: flex;
}

.price__text{
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;

    /* identical to box height, or 33px */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #333333;

    margin-right: 66px;

}


.price__link{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 24px */


    /* active */

    color: #F4683F;
}



.catalog__link-popular{
    margin-left: 550px;


    background: #F4683F;
    border-radius: 200px;


    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 27px */


    color: #FFFFFF;


    padding: 13px 50px;
}


.organize__ihner{
    margin-bottom: 200px;
}

.orginize__items{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.orginize__item{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
    border-radius: 20px;
    width: 407px;
    height: 130px;
    padding-top: 49px;
    padding-left: 50px;
    margin-right: 40px;
    margin-bottom: 40px;

}


.orginize__img{
    width: 45px;
    height: 31px;
    margin-right: 17px;

}

.orginize__text{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;



    color: #333333;


}


.orginize__link{
    background: #F4683F;
    border-radius: 200px;
    margin-left: 540px;
    padding: 13px 51px;


    font-weight: 600;
    font-size: 18px;
    line-height: 27px;



    color: #FFFFFF;
}


.fq__ihner{
    margin-bottom: 200px;
}


.fq__title{
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 54px;



    color: #333333;
    margin-bottom: 50px;
}



.sn-accordion-container{
    position: relative;
    width: 100%;
    height: auto;
    margin: 20px auto;
}
.sn-accordion-container > h2{
    text-align: center;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.set{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
}

.set > a{
    display: block;
    padding: 25px 20px 25px 30px;
    text-decoration: none;

    border-bottom: 1px solid #ddd;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    transition:all 0.2s linear;



    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height, or 33px */


    color: #333333;
}

.set > a .plus,
.set > a .minus {
    position:relative;
    float: right;
    margin-top: -5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 200ms ease;
    transform: rotate(0deg);
}

.set > a .plus:hover {
    background: #EEEEEE;

}

.set > a.active .minus:hover {
    background: #EEEEEE;

}

.set > a .plus .icon,
.set > a .minus .icon {
    position:relative;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;

}

.set > a .plus .icon::before,
.set > a .minus .icon::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 25px;
    height: 1px;
    background: #333333;
}

.set > a .plus:hover .icon::before,
.set > a .minus:hover .icon::before,
.set > a .plus:hover .icon::after,
.set > a .minus:hover .icon::after{
    background: #333333;
}

.set > a .plus .icon::after,
.set > a .minus .icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 1px;
    height: 25px;
    background: #333333;
}

.set > a .plus:hover .icon::before,
.set > a .plus:hover .icon::after {
    background: #333333;
}

.set > a.active .minus {
    transition: 200ms ease;

}

.content{
    position:relative;
    width: 100%;

    height: auto;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display:none;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */


    color: #000000;
}
.content p{
    padding: 25px 30px;
    margin: 0;
    color: #000000;


}


.pre__footer{
    background: url("../images/bg_photo_rent.png");
    max-width: 1920px;
    height: 750px;
}

.pre__footer-title{
    padding-top: 239px;
    font-family: 'Raleway' ,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;

    /* identical to box height, or 54px */


    color: #FFFFFF;

    margin-bottom: 20px;

}

.pre__footer-subtitle{


    font-weight: 600;
    font-size: 18px;

    /* or 29px */


    color: #FFFFFF;

    margin-bottom: 50px;
}


.pre__footer-link{
    background: #F4683F;
    border-radius: 200px;


    padding: 13px 52px;


    font-weight: 600;
    font-size: 18px;
    


    color: #FFFFFF;
}
.footer{
    width: 1920px;
    background: linear-gradient(180deg, #161723 0%, #161723 109.24%);
}

.footer__catalog__title{
    padding-top: 82px;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 150%;
    /* identical to box height, or 33px */


    color: #FFFFFF;
    margin-bottom: 17px;
}

.footer__catalog__items{
    padding-bottom:  73px;
}

.footer__catalog__link{

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #C0C2D7;

    margin-bottom: 15px;
}